*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%); 
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
}

p {
    color: var(--grayish-blue);
    line-height: 1.6rem;
    font-size: 1.009rem;
}

a {
    text-decoration: none;
}

button {
    min-width: 100%;
    font-size: 1.05rem;
    font-family: 'Bai Jamjuree', sans-serif;
    border: none;
    padding: 1rem 0;
    border-radius: 2rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
}

img {
    width: 2%;
}

.content-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container > * {
    min-width: 100%;
}

.header {
    background-image: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    padding: 7rem 2rem 5rem 2rem;
}

.logo {
    width: 8rem;
}

.header-info {
    padding-top: 4rem;
}

.header-title {
    color: var(--dark-grayish-blue)
}

.header-desc {
    padding-top: 1rem;
    color: var(--grayish-blue);
}

.header-btns {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.iOS-btn {
    color: #fff;
    background-color: var(--strong-cyan);
    box-shadow: 0px 3px 2px 0px hsl(171, 68%, 35%);
}

.mac-btn {
    color: #fff;
    background-color: var(--light-blue);
    box-shadow: 0px 3px 2px 0px hsl(233, 45%, 49%);
    margin-top: 1.5rem;
}

.title {
    padding-bottom: 1rem;
    font-size: 1.75rem;
}

.snippets-section {
    padding: 5rem 0;
}

.main-content {
    padding: 0 2rem;
}

.snippets-title {
    font-size: 1.75rem;
}

.snippets-desc {
    padding-top: 1rem;
}

.snippets-img {
    width: 100%;
    padding-top: 4.25rem;
}

.snippets-info-section {
    padding-top: 3.5rem;
}

.snippets-info-card {
    padding-bottom: 2.75rem;
}

.info-title {
    font-size: 1.5rem;
    padding-bottom: .75rem;
    font-weight: 600;
}

.access-section {
    padding-top: 4rem;
}


.access-img-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.access-img {
    width: 110%;
}

.supercharge-section {
    padding-top: 6rem;
}

.supercharge-info-container {
    padding-top: 5.5rem;
}

.supercharge-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.supercharge-img-container {
    width: 14%;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.supercharge-img {
    width: 100%;
}

.supercharge-info-title {
    font-size: 1.5rem;
    padding-bottom: 1.25rem; 
}

.company-section {
    padding-top: 5rem;
}

.company-section > * {
    padding-bottom: 4rem;
}

.company-img-container > * {
    width: 45%;
}

.ibm, .hp {
    width: 38%;
}

.vector {
    width: 35%;
}